*{
  margin : 50;
  box-sizing: border-box;
  background: lightgreen;
}

img{
  width: 500px;
  border: solid;
  border-radius: 20px;
}

.container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
 
}

button {
  background-color: none;
  border: outset;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

div{
  color: darkgreen;
  font-family: Courier New;
}
